.load_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 480px;
  border: 1px dashed rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  margin-right: 20px;

  @media (max-width: 767px) {
    width: 280px;
    height: 280px;
    margin-right: 0;
  }
}

.load_img_label {
  display: flex;
  flex-flow: column;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }
}

.load_img_input {
  position: absolute;
  visibility: hidden;
}

.remove_btn {
  position: absolute;
  top: -2rem;
  right: -2rem;
  color: black;
  cursor: pointer;
  transition: ease-in-out opacity 0.3s;

  &:hover {
    opacity: .5;
  }
}
