.Header {
  width: 100%;
  padding: 20px 48px 0;

  // @apply w-full px-[48px] pt-[20px];
}

.Inner {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;

  // @apply flex items-start justify-between gap-[20px];
}

@media (max-width: 600px) {
  .Inner {
    flex-direction: column;
    align-items: center;

    // @apply flex-col items-center;
  }
}
