.blockFooter {
  background: #505050;
  padding: 45px 0;
}

.row {

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @media (max-width: 1023px) {
    flex-flow: column-reverse;
    align-items: flex-start;
  }
}

.column__text {
  p, a {
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.5;
    line-height: 1.5;
  }

  a {
    font-weight: 300;
    text-decoration: underline;
  }

  a:hover {
    opacity: 1;
  }

  @media (max-width: 1023px) {
    margin-top: 30px;
  }
}
