.wrapper {
  padding: 1rem 0;
}

.row {
  height: 3.5rem;
  border-top: 1px dashed;
  border-color: #8C8C8C;
}

.content {
  padding: 0 0 1.5rem;
}

.img {
  border-radius: .5rem;
}

.red {
  color: #BC012E;
}
