.wrapper {
  padding: 1rem 0;
}

.row {
  height: 3.5rem;
  border-top: 1px dashed;
  border-color: #8C8C8C;
}

.content {
  padding: 0 0 1.5rem;
}

.img {
  border-radius: .5rem;
}

.blue {
  margin: .5rem 0;
  background: #0984E3;

  &:hover {
    background: #004d8a;
  }
}

.red {
  margin: .5rem 0;
  background: #BC012E;

  &:hover {
    background: #85001e;
  }
}

.purple {
  margin: .5rem 0;
  background: #6C5CE7;

  &:hover {
    background: #372a9b;
  }
}

.orange {
  margin: .5rem 0;
  background: #FF6D30;

  &:hover {
    background: #be3700;
  }
}
