.formPageWrapper {
  background: #0000FF;
  justify-content: center;
  align-items: center;
}

.formPage {
  display: flex;
  flex-flow: wrap;
  padding: 40px;
  max-width: 440px;
  width: 100%;
  font-family: "Gilroy", sans-serif;
  font-size: 14px;
  background: #ffffff;
  border-radius: 10px;
  position: relative;
  z-index: 10;

  @media (max-width: 767px) {
    max-width: 320px;
    padding: 20px;
    font-size: 12px;
  }
}

.formPage__input {
  margin-top: 1rem;
  width: 100%;

  &:first-of-type {
    margin-top: 35px;
  }

  @media (max-width: 767px) {
    margin-top: 25px;
    font-size: 12px;
    &:first-of-type {
      margin-top: 80px;
    }
  }
}

.formPage__input_error {
  border-bottom-color: #BC012E;
}

.formPage__checkboxRow {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}

.formPage__checkboxLabel {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #D4AA00;
  border-radius: 2px;
  margin-right: 10px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    opacity: 0;
    width: 8px;
    height: 8px;
    background: #D4AA00;
    border-radius: 1px;
  }
}

.formPage__checkbox {
  position: absolute;
  visibility: hidden;

  &:checked + .formPage__checkboxLabel::before {
    opacity: 1;
  }
}

.formPage__checkboxIcon {
  border-radius: 1px;
  width: 8px;
  height: 8px;
  background: #D4AA00;
}

.formPage__checkboxText {
  color: #050505;
  margin-bottom: 0;
}

.formPage__link {
  color: #050505;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.formPage__text {
  margin: 1.5rem 0 .5rem;
  text-align: center;
  width: 100%;
}

.formPage__enterLink {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #0000FF;

  &:hover {
    text-decoration: none;
    color: #D4AA00;
  }
}

.formPage__errors {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #BC012E;
  text-align: center;
}

.formPage__submit {
  margin-top: 15px;
  max-width: 100%;
  width: 100%;
  margin-right: 0;

  &:disabled {
    filter: grayscale(100);
  }
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;

  &:hover {
    .closeBtn__line {
      fill: #0000FF;
    }
  }
}

.vinylRecordReg {
  width: 733px;
  height: 733px;
  position: absolute;
  top: calc((100% - 733px) / 2);
  right: -435px;
  z-index: 5;

  .vinylRecordReg__center {
    width: 300px;
    height: 300px;
    top: calc((100% - 300px) / 2);
    left: calc((100% - 300px) / 2);

    text {
      font-size: 35px;
    }

    animation-direction: reverse;
  }

  @media (max-width: 1023px) {
    .vinylRecord__center {
      display: block;
    }
  }
}

.formPage__notes {
  position: absolute;
  width: 269px;
  height: 186px;
  top: calc((100% - 186px) / 2);
  left: calc((100% - 269px) / 2 - 335px);
}

.forgotPassword {
  color: #0000FF;
  margin-top: 1.4rem;

  &:hover {
    color: #D4AA00;
    text-decoration: none;
  }
}
