.ContactList {
  display: flex;
  align-items: center;
  gap: 35px;

  // @apply flex items-center gap-[55px];
}

.ContactListItem {
  display: flex;
  align-items: center;
  gap: 10px;

  // @apply flex items-center gap-[10px];

  a {
    svg {
      height: 46px;
      width: 46px;

      // @apply h-[46px] w-[46px];
    }
  }

  div {
    display: flex;
    flex-direction: column;
    color: green;

    // @apply flex flex-col text-green;
  }
}

@media (max-width: 600px) {
  .ContactList {
    gap: 45px;

    // @apply gap-[45px];
  }

  .ContactListItem {
    div {
      display: none;

      // @apply hidden;
    }
  }
}
