.blockSuggestion {
  background: #F4F4F4;
  padding: 86px 0 100px;
  @media (max-width: 1023px) {
    padding: 60px 0 100px;
  }
}

.row {
  display: flex;
  width: 100%;
  position: relative;
  @media (max-width: 1023px) {
    flex-flow: column;
  }
  @media (max-width: 767px) {
    padding-bottom: 90px;
  }
}

.text_part {
  display: flex;
  flex-flow: column;
  width: 25rem;
  padding-top: 3rem;
  padding-right: 2rem;
  background: #F4F4F4;
  position: relative;
  z-index: 10;

  &::before {
    position: absolute;
    top: 0;
    left: calc(-30vw + 1px);
    content: '';
    width: 30vw;
    height: 100%;
    background: #F4F4F4;
  }

  @media (max-width: 1023px) {
    background: transparent;
    max-width: 524px;
    width: 100%;
    height: unset;
    z-index: unset;
    &::before {
      content: none;
    }
  }

  @media (max-width: 767px) {
    margin: 0;
    position: static;
  }
}

.column__title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  @media (max-width: 767px) {
    font-size: 40px;
  }

}

.column__text {
  margin-top: 45px;
  font-size: 16px;
  line-height: 22px;
  font-family: "Gilroy", sans-serif;
  @media (max-width: 1023px) {
    margin-top: 20px;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.column__btn {
  margin-top: 2rem;
  margin-bottom: 2rem;
  z-index: 5;

  @media (max-width: 1023px) {
    margin-top: 545px;
  }
  @media (max-width: 767px) {
    margin-top: 0;
    position: absolute;
    max-width: 280px;
    bottom: 0;
  }
}

.column__slider :global {
  display: block;
  width: calc(100% - 25rem);
  position: relative;
  padding: 3rem 1rem;

  .slick-track {
    display: flex;
  }

  @media (max-width: 1023px) {
    position: absolute;
    top: 190px;
    left: 0;
  }

  @media (max-width: 767px) {
    flex-flow: column;
    position: relative;
    top: 0;
    margin-top: 15px;
    width: 100%;
  }
}

.sliderButton {
  position: absolute;
  left: calc((100% - 46px) / 2 + 50px);
  bottom: -75px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border: 3px solid #D4AA00;
  border-radius: 50%;
  font-size: 0;
  outline: none;

  svg {
    position: relative;
    left: -1px;
  }

  &:hover {
    transform: scale(1.1);
  }

  @media (max-width: 1023px) {
    bottom: -115px;
    left: calc((100% - 46px) / 2 + 400px);
  }
}

.slider_button_next {
  left: calc((100% - 46px) / 2 + 120px);
  transform: rotate(180deg);

  &:hover {
    transform: rotate(180deg) scale(1.1);
  }

  @media (max-width: 1023px) {
    left: calc((100% - 46px) / 2 + 470px);
  }
}

.slider__effect {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.1;
  border-radius: 50%;
  width: 0;
  height: 0;
  transition: all 0.3s ease-in-out;
  background: radial-gradient(transparent 1%, #ffffff 100%);
}

.slider__item {
  display: flex !important;
  flex-flow: column;
  margin-right: 20px !important;
  padding: 30px;
  border-radius: 5px;
  max-width: 380px;
  width: 100%;
  height: 448px;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  @media (min-width: 768px) {
    &:hover {
      .slider__effect {
        width: 10px;
        height: 10px;
        transform: scale(100);
      }
    }
  }

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: 1023px) {
    max-width: 344px;
  }
  @media (max-width: 767px) {
    width: 280px;
    padding: 20px !important;
    margin-right: 0;
    margin-top: 10px !important;
    height: auto;
    flex-flow: column-reverse;
    border-radius: 5px !important;
    box-shadow: none !important;
    color: #ffffff !important;
  }
}

.slider__item_1 {
  padding: 50px 30px 30px 30px;

  @media (max-width: 1023px) {
    padding: 40px 30px 30px 30px;
    .slider__img {
      width: 289px;
      height: 161px;
    }
  }
  @media (max-width: 767px) {
    .slider__img {
      width: 238px;
      height: 132px;
    }
  }

}

.slider__item_2 {
  padding: 0 30px 30px 30px;


  .slider__img {
    position: relative;
    right: 20px;
  }

  @media (max-width: 1023px) {
    .slider__img {
      width: 300px;
      height: 170px;

    }
  }
  @media (max-width: 767px) {
    .slider__img {
      width: 250px;
      height: 140px;
    }
  }


}

.slider__item_3 {
  padding: 0 30px 30px 30px;


  .slider__img {
    top: -30px;
    left: 0;
    width: 439px;
  }

  img {
    clip-path: polygon(0 0, 78% 0, 78% 100%, 0% 100%);
    width: 100%;
    margin-left: 50px;
  }

  @media (max-width: 1023px) {

  }
  @media (max-width: 767px) {
    .slider__img {
      width: 250px;
      height: 140px;
    }
  }


}

.slider__item_4 {

  @media (max-width: 1023px) {
    .slider__img {
      width: 277px;
      height: 177px;

    }
  }
  @media (max-width: 767px) {
    .slider__img {
      width: 213px;
      height: 143px;
    }
  }

}

.slider__item_5 {

  .slider__img {
    left: 50%;
    transform: translate(-50%);
  }

  @media (max-width: 1023px) {
    .slider__img {
      width: 147px;
      height: 143px;

    }
  }
  @media (max-width: 767px) {
    .slider__img {
      width: 120px;
      height: 143px;
    }
  }
}

.slider__summary {
  display: flex;
  margin-top: auto;
  width: 100%;
  @media (max-width: 767px) {
    order: 1;
    margin-top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
    .MuiAccordionSummary-content {
      margin: 0;
    }
    .MuiAccordionSummary-content.Mui-expanded {
      margin: 0;
      min-height: unset;
    }
  }
}

.slider__title {
  font-size: 26px;
  line-height: 1.4;
  font-weight: 600;
  @media (max-width: 1023px) {
    font-size: 24px;
  }
  @media (max-width: 767px) {
    font-size: 18px;
    line-height: normal;
    width: 200px;
  }
}

.slider__details {
  display: flex;
  flex-flow: column;
  padding: 0 !important;
}

.slider__text {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 100;
  margin-top: 15px;
  @media (max-width: 767px) {
    font-size: 14px;
  }
  @media (max-width: 767px) {
    font-size: 12px;
    opacity: 0.9;
    order: 2;
  }

}

.slider__img {
  position: absolute;
  @media (max-width: 767px) {
    position: static !important;
    width: 100% !important;
    height: auto !important;
    order: 3;
    margin: 15px 0 0 !important;
    transform: unset !important;
  }
}


.slider__buttonMore {
  display: none;
  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    max-width: 100%;
    order: 4;
  }
}

.modal {
  justify-content: center;
  align-items: center;
  position: absolute;

  & > div:first-of-type {
    background: inherit;
  }

  @media (max-width: 767px) {
    justify-content: unset;
    overflow: auto;
    min-height: 100vh;
  }
}

.modal__content {
  position: relative;
  max-width: 980px;
  width: 100%;
  padding: 50px;
  background: white;
  border-radius: 10px;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  height: 80vh;

  @media (max-width: 1023px) {
    max-width: 566px;
    padding: 30px;
  }

  @media (max-width: 767px) {
    max-width: 280px;
    padding: 20px;
    display: flex;
    flex-flow: column;
    margin-top: 50px;
  }
}

.modal__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  @media (max-width: 767px) {
    flex-flow: column;
  }
}

.modal__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  margin: 2rem 0;
  color: #052525;

  @media (max-width: 1023px) {
    font-size: 28px;
  }

  @media (max-width: 767px) {
    margin: 20px 0 15px;
    font-size: 18px;
    order: 2;
  }
}

.modal__description {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  overflow-y: scroll;
  height: 60%;

  p {
    margin-bottom: 20px;
  }

  color: #050505;
  margin-bottom: 30px;

  @media (max-width: 1023px) {
    font-size: 14px;
    p {
      margin-bottom: 15px;
    }
  }
  @media (max-width: 767px) {
    font-size: 12px;
    order: 3;
    p {
      margin-bottom: 10px;
    }
  }
}

.modal__contactsBtn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  @media (max-width: 767px) {
    margin-top: 70px;
    order: 4
  }
}

.modal__close {
  position: absolute;
  top: -21px;
  right: -21px;

  &:hover {
    svg rect {
      fill: #D4AA00;
    }
  }

  @media (max-width: 767px) {
    top: -18px;
    right: -18px;
  }
}

.modal__contentImg {
  width: 174px;

  @media (max-width: 1023px) {
    width: 152px;
  }

  @media (max-width: 767px) {
    position: static;
    order: 1;
  }
}

.modal__slider :global {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;

  display: block;
  max-width: 100vw;
  width: 100%;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;

  .slick-list {
    overflow: hidden;
  }

  .slick-track {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
  }
}

.modal__slide {
  width: 185px;
  padding: 15px;
  min-height: 220px;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  cursor: pointer;
}

.modal__slide_img {
  width: 100%;
}

.modal__slide_title {
  color: white;
  margin-top: auto;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
}

@keyframes slideAnimation {
  0% {
    transform: scale(1) rotate(0);
  }
  25% {
    transform: scale(0.8) rotate(15deg);
  }
  50% {
    transform: scale(0.8) rotate(-15deg);
  }
  75% {
    transform: scale(0.8) rotate(15deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
