.news {
  height: 855px;
  z-index: 0;
  overflow-x: hidden;

  @media (max-width: 1023px) {
    height: auto;
    padding-bottom: 150px;
  }
  @media (max-width: 767px) {
    padding-bottom: 70px;
  }
}

.vinyl_record {
  max-width: 1180px;
  width: 97%;
  height: 90%;
  border-radius: 0 0 590px 590px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
  background: linear-gradient(180deg, #D5D4D4 -22.29%, #FFFFFF 36.46%);

  @media (max-width: 1023px) {
    display: none;
  }
}


.article_list {
  justify-content: space-between;
  margin-top: 200px;
  position: relative;
}

.article {
  flex-flow: column;
  width: 50%;
  padding: 2rem;
}

.article_img_wrapper {
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    opacity: 0.8;
  }
}

.article_date {
  margin-top: 20px;
  font-size: 16px;
  color: #050505;

  opacity: 0.5;
}

.article_title {
  margin-top: 10px;
  font-size: 18px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
