//<!-- statistics -->
.block-statistics {
}

.statistics__title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  font-size: 65px;
  line-height: 140%;
  @media (max-width: 767px) {
    margin: 0;
    font-size: 40px;
  }
}

.statistics__sorting {
  margin-top: 15px;
  width: 540px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 767px) {
    width: 100%;
    overflow-x: scroll;
  }
}

.block_statistics__sorting_item {
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  font-size: 14px;
  background: #f4f4f4;
  border-radius: 100px;
  margin-right: 5px;
  transition: ease-in-out all 0.3s;
  cursor: pointer;
  font-weight: 700;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background: #d4aa00;
    color: #ffffff;
  }

  @media (max-width: 767px) {
    font-size: 12px;
    height: 33px;
    min-width: 90px;
    padding: 0 15px;
  }
}

.statistics__tablets {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 40px;
  padding-bottom: 110px;
  @media (max-width: 1023px) {
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
  }
  @media (max-width: 767px) {
    margin-top: 10px;
    padding-bottom: 70px;
  }
}

.statistics__tablet {
  width: 49%;

  display: flex;
  flex-flow: column;
  padding: 25px 30px 32px;
  background: #f4f4f4;
  border-radius: 5px;
  margin-right: 5px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  &:nth-child(3),
  &:nth-child(4) {
    margin-top: 20px;
  }

  @media (max-width: 1023px) {
    width: 100%;
    margin-top: 20px;
  }
  @media (max-width: 767px) {
    padding: 20px;
    margin-right: 0;
  }
}

.statistics__tablet__title {
  font-size: 20px;
  line-height: 140%;
  font-weight: 700;
  color: #052525;
  @media (max-width: 767px) {
    font-size: 16px;
    letter-spacing: -0.3px;
  }
}

.statistics_tablet__title_sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 767px) {
    flex-flow: column;
    width: 100%;
  }
}

.statistics__tablet__sorting {
  max-width: 115px;
  width: 100%;
  display: flex;
  @media (max-width: 767px) {
    margin-top: 10px;
    max-width: unset;
    width: 100%;
  }
}

.statistics__tablet__sorting__item {
  font-size: 14px;
  line-height: 140%;
  padding-bottom: 8px;
  border-bottom: 1px solid #b1b1b1;
  color: #052525;
  opacity: 0.5;
  cursor: pointer;
  transition: ease-in-out all 0.3s;

  &:last-child {
    padding-left: 13px;
  }

  &:hover {
    border-bottom: 2px solid #d4aa00;
    color: #d4aa00;
    opacity: 1;
  }

  @media (max-width: 767px) {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
}

.statistics__tablet__main__content {
  margin-top: 15px;
  width: 100%;
  overflow: hidden;
  height: 350px;
  display: flex;
  flex-flow: column;
  @media (max-width: 767px) {
    margin-top: 5px;
  }
}

.statistics__tablet__content {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1023px) {
    justify-content: space-evenly;
  }

  @media (max-width: 767px) {
    flex-flow: column;
    align-items: flex-start;
  }
}

.statistics__tablet__column {
  display: flex;
  flex-flow: column;
  justify-content: center;

  span {
    font-size: 80px;
    line-height: 100%;
    font-weight: 700;
    &:first-letter {
      margin-right: 25px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 600;
    color: #3d3d3d;
    margin-top: 6px;
  }
  @media (max-width: 767px) {
    align-items: flex-start;
    span {
      font-size: 70px;
    }
    p {
      font-size: 14px;
    }
  }
}

.statistics__tablet__column_blue {
  span {
    background: linear-gradient(
      90deg,
      rgba(52, 121, 255, 1) 0%,
      rgba(52, 60, 255, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.statistics__tablet__column_orange {
  span {
    background: linear-gradient(
      90deg,
      rgba(218, 26, 164, 1) 0%,
      rgba(255, 101, 52, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.statistics__tablet__row {
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px dashed #b1b1b1;
  display: flex;
  align-items: center;
  min-height: 48px;

  &:nth-child(1) {
    border-top: none;
  }

  &:last-child {
    margin-bottom: 0;
  }
  @media (max-width: 767px) {
    padding-top: 12px;
    min-height: 36px;
  }
}

.statistics__tablet__img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  @media (max-width: 767px) {
    width: 24px;
    height: 24px;
    margin-right: 7px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.statistics__tablet__name {
  font-size: 16px;
  font-weight: 700;
  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.statistics_tablet__number {
  font-size: 16px;
  font-weight: 700;
  margin-left: auto;
  @media (max-width: 767px) {
    font-size: 12px;
  }
}

//<!-- /statistics -->
