.link_item {
  padding: 0 1rem;
  display: flex;
  margin: 0 3%;
  transition: ease-in-out all 0.3s;
  cursor: pointer;

  &:last-child {
    padding-right: 0;
  }
}

.link_dark_gray {
  background: #8C8C8C;
  fill: #8C8C8C;

  &:hover {
    background: #424242;
  }
}

.link_white {
  background: #ffffff;
  fill: #ffffff;

  &:hover {
    background: #dadada;
  }
}

.link_light_gray {
  background: #8C8C8C;
  fill: #8C8C8C;

  &:hover {
    background: #424242;
  }
}


.links_vk_bw {
  -webkit-mask: url("images/vk_bw_icon.svg") no-repeat center;
  -webkit-mask-size: contain;
  width: 28px;
  height: 16px;
}

.links_odnoklassniki_bw {
  -webkit-mask: url("images/odnoklassniki_bw_icon.svg") no-repeat center;
  -webkit-mask-size: contain;
  width: 15px;
  height: 25px;
}

.links_youtube_bw {
  -webkit-mask: url("images/youtube_bw_icon.svg") no-repeat center;
  -webkit-mask-size: contain;
  width: 20px;
  height: 20px;
}

.links_rutube_bw {
  -webkit-mask: url("images/rutube_bw_icon.svg") no-repeat center;
  -webkit-mask-size: contain;
  width: 20px;
  height: 20px;
}

.links_telegram_bw {
  -webkit-mask: url("images/telegram_bw_icon.svg") no-repeat center;
  -webkit-mask-size: contain;
  width: 24px;
  height: 24px;
}

.links_facebook_bw {
  -webkit-mask: url("images/facebook_bw_icon.svg") no-repeat center;
  -webkit-mask-size: contain;
  width: 12px;
  height: 24px;
}

.links_instagram_bw {
  -webkit-mask: url("images/instagram_bw_icon.svg") no-repeat center;
  -webkit-mask-size: contain;
  width: 20px;
  height: 22px;
}
