.captcha {
  margin-top: 30px;
  font-size: 14px;
  display: flex;
  cursor: pointer;

  flex-flow: wrap;
  padding-bottom: 0;
  border-bottom: 0;

  &:hover {
    border-bottom-color: #D4AA00;
  }
}

.captcha__label {
  color: #959595;
  margin-right: 10px;
}

.captcha__label_error {
  color: #BC012E;
}

.captcha__row {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 30px;
}

.captcha__input {
  flex: 1;
}

.captcha__input_err {
  border-color: #BC012E;
}

.captcha__input_done {
  border-color: #0000FF;
}

.captcha__img {
  height: 56px;
  flex: 1;
  display: flex;
  overflow: hidden;
  margin: 0 1rem;

  img {
    width: auto;
    object-fit: cover;
  }

  &:disabled {
    filter: grayscale(0.5);
  }
}


.captcha__refreshBtn {
  width: 24px;
  height: 24px;
  -webkit-mask: url("images/block-form_refresh.svg") center no-repeat;
  -webkit-mask-size: contain;
  background: #D4AA00;
  cursor: pointer;
  transition: ease-in-out all 0.3s;
  animation: 2s loadingCaptcha linear infinite paused;

  &:hover {
    background: #808080;
  }

  &.loading {
    animation-play-state: running;
  }


  &:disabled {
    filter: grayscale(0.5);
  }
}

@keyframes loadingCaptcha {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
